#flexdiv{
    position: relative;
    display:flex;
    top: 20px;
    z-index: 0;
    flex-direction:column;
    align-items: flex-start;
    /* background-color: #61dafb; */
    margin:30px 0px 20px 30px
}


@media(max-width:655px){
    #flexdiv{

    flex-direction:row;
    
    margin:30px 20px 20px 30px;
    align-items:flex-start;
    background-color: #7b43ef;

}}
#loginpage{
    margin: 100px auto;
    background-color: #7b43ef;
    color: #61dafb;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
#login{
    margin-top: 200px;
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    background-color: #61dafb;
    border-radius: 10px;
    border: solid black 2px;
}
#button{
     background-color: #61dafb;
     scale: 250%;
     
     border-radius: 10px;
     border: solid black ;
}

#button:active{
    background-color: #4eb0cb;
}


.but{
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: black solid 2px;
    position: relative;
     z-index: 2;
    margin-right: 20px;
}

.but:active{
    background-color: grey;
}

.buttons{
    background-color: #61dafb;    
    border-radius: 10px;
    border: solid black 2px;
    width: 100px;
    height: 30px;
}

.buttons:active{
    background-color: #4eb0cb;
}

.inputs{
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    background-color: #61dafb;
    border-radius: 10px;
    border: solid black 2px;
}



